.title {
    text-align: left;
    font-size: 30px;
    font-weight: 600;
    margin-left: 100px;
}

.primary {
    color: orange;
    font-size: 48px;
}
.secondary {
    color: rgb(108, 216, 0);
    font-size: 68px;
}

.font-xl {
    font-size: 58px;
    font-weight: 300;
}